@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lilita One", sans-serif;
}

body {
  background-color: black;
  height: 100%;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.txt1 {
  margin: 1rem 0 15vh;
}
.txt1 span {
  color: red;
}

.txt1 i {
  color: brown;
}

.txt2 {
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 10vw;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}

.txt2 div {
  border: 1px solid brown;
  border-radius: 10vh;
  width: 80vw;
  height: 12vh;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  transition: 0.1s ease;
}

.txt2 div:hover {
  transform: scale(1.1);
}

.txt2 div:nth-child(1) {
  background-color: #ada8b6;
}
.txt2 div:nth-child(2) {
  background-color: #ffeedb;
}
.txt2 div:nth-child(3) {
  background-color: #4c3b4d;
}
